/* GENERAL */

body {
	/*background-image: url(../../assets/images/light_noise_diagonal.png);*/
	padding: 0;
	margin: 0;
	font-family: Quicksand;
	font-weight: 400;
	background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;
}

* {
	/* Prevent annoying gray flash on mobile safari */
	-webkit-tap-highlight-color: transparent;
}

/* Concentating too long cont... */
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Center element vertically and horizontally */
.absolute-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

/* Small box for error messages */
.error-box {
	text-align: center;
	padding: 10px;
	background-color: #C30F26;
}

.error-text {
	display: inline-block;
	color: #FFFFFF;
}

/* Button for posting chus */
.post-chu-button {
	width: 48px;
	height: 48px;
	background-size: 48px 96px;
	vertical-align: top;
	display: inline-block;
	background-image: url(../../assets/images/post_chu_button.png);
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 100;
	background-position: 0 0;
}

.post-chu-button:active:hover:not([disabled]) {
	background-position: 0 -48px;
}

/* Indicator for when the next page in a list is loaded */
.loading-next-page {
	padding: 10px;
	margin: 8px;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
}

.fade-screen {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1000;
	width: 100%;
	height: 500px;
	background-color: white;
	box-shadow: inset 0 1px 5px #222;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
}

.fade-screen.shown {
	opacity: 1;
}


/* BUTTONS */

.onyx-button {
	padding: 0px 10px;
	height: 30px;
	border-radius: 3px;
	background-image: none;
	background-color: #eee;
}

.onyx-button:active:hover:not([disabled]) {
	background-image: none;
	border-top: 1px solid rgba(15, 15, 15, 0.2);
}


/* HEADER */

.header {
	height: 44px;
	background: url(../../assets/images/menu-bar.png) repeat-x;
	background-size: 320px 44px;
	text-align: center;
	box-shadow: 0 1px 5px #222;
	box-sizing: border-box;
	position: relative;
	z-index: 99;
}

.header-text {
	color: White;
	font-size: 14pt;
	font-family: PTSansCaptionRegular;
	text-align: center;
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
}

.header-logo {
	margin: 6px auto;
	background: url(../../assets/images/logo@2x.png) no-repeat center center;
	background-size: contain;
	width: 62px;
	height: 27px;
}

.header .onyx-button {
	color: White;
	background-color: transparent;
}

.header .menu-button {
	position: absolute;
	width: 40px;
	top: 7px;
	left: 5px;
	padding: 0;
}

.header .menu-button > .menu-button-icon {
	background: url(../../assets/images/menu_icon@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 17px;
	margin-top: -2px;
}

.header .notification-button {
	position: absolute;
	width: 40px;
	top: 7px;
	right: 5px;
	padding: 0;
	overflow: visible;
}

.header .notification-button > .notification-button-icon {
	background: url(../../assets/images/notifications@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-top: -1px;
}

.header .notification-button > .notification-button-badge {
	background: url(../../assets/images/badge@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -8px;
	left: -8px;
	font-family: Verdana;
	font-size: 8pt;
	box-sizing: border-box;
	padding: 2px 0;
}

.header .back-button {
	position: absolute;
	top: 7px;
	left: 5px;
}

.header .done-button {
	position: absolute;
	top: 7px;
	right: 5px;
}

.header .share-button {
	position: absolute;
	width: 40px;
	top: 7px;
	right: 5px;
	padding: 0;
	overflow: visible;
}

.header .share-button > .share-button-icon {
	background: url(../../assets/images/share_light.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-right: -2px;
}


/* GROUPBOX */

.onyx-groupbox {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
}

.onyx-groupbox > * {
	border: none;
}

.onyx-groupbox > *:not(:last-child) {
	border-bottom: solid 1px #ddd;
}


/* INPUT */

.enyo-input {
	font-family: Quicksand;
	font-weight: 400;
}

.onyx-input-decorator.onyx-focused {
	box-shadow: inset 0 1px 2px #ddd;
}


/* VISIBILITY PICKER */

.visibility-picker {
	position: absolute;
	top: 8px;
	right: 75px;
}

.visibility-picker > * {
	margin: 0 2px;
}

.private-button {
	width: 28px;
	height: 28px;
	background: url(../../assets/images/private_button.png) no-repeat 0 0;
	background-size: 28px 56px;
	display: inline-block;
}

.private-button.active {
	background-position: 0 -28px;
}

.public-button {
	width: 28px;
	height: 28px;
	background: url(../../assets/images/public_button.png) no-repeat 0 0;
	background-size: 28px 56px;
	display: inline-block;
}

.public-button.active {
	background-position: 0 -28px;
}


/* CATEGORY ICONS */

.category-icon {
	background-size: cover;
	width: 36px;
	height: 36px;
}

.category-icon.head {
	background-image: url(../../assets/images/category_head.png);
}

.category-icon.accessoires {
	background-image: url(../../assets/images/category_accessoires.png);
}

.category-icon.torso {
	background-image: url(../../assets/images/category_torso.png);
}

.category-icon.legs {
	background-image: url(../../assets/images/category_legs.png);
}

.category-icon.feet {
	background-image: url(../../assets/images/category_feet.png);
}

/* PLACEHOLDER */

.placeholder {
	text-align: center;
	padding: 100px 0;
}

.placeholder-text {
	font-family: 'Homemade Apple';
	color: #555;
	padding: 10px 30px;
	font-size: 10pt;
}

.placeholder-image {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	background: url() no-repeat center center;
	background-size: cover;
}


/* PULLER */

.enyo-puller {
	/*height: 68px;
	background: url(../../assets/images/pulldown.png) no-repeat center center;
	background-size: 320px 68px;
	padding: 0;
	margin-top: -1px;
	margin-bottom: 1px;
	box-shadow: inset 0 -1px 10px #333;*/
	padding: 10px 30px 0 30px;
}

.enyo-puller-arrow {
	width: 35px;
	height: 35px;
	background: url(../../assets/images/arrow.png) no-repeat center center;
	background-size: cover;
	margin-top: 5px;
}

.enyo-puller-arrow:after {
	display: none;
}

.enyo-puller-text {
	font-size: 15pt;
	vertical-align: top;
	padding: 0;
}

.signin-slider {
	box-shadow: -2px 0 10px #555;
	position: absolute;
	top: 0;
	left: 0;
}

.getstarted-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Popup */

.onyx-popup {
	background-color: White;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #555;
	padding: 20px;
	background-image: none;
	color: black;
}

/* Facebook button */

.facebook-button {
	background-color: #3b5998;
	padding: 10px;
	color: white;
	height: auto;
	display: block;
	margin: 0 auto;
	width: 230px;
}

.facebook-button-icon {
	width: 20px;
	height: 20px;
	background-size: 20px 40px;
	display: inline-block;
	background-image: url(../../assets/images/facebook_button.png);
	background-position: 0 -20px;
	margin: -2px 5px 0 0;
}

.onyx-spinner {
	background-image: url(../../assets/images/berry_spinner.gif);
}

.onyx-spinner.spinner-dark {
	background-image: url(../../assets/images/berry_spinner_dark.gif);
}