/* GENERAL */

body {
	/*background-image: url(../../assets/images/light_noise_diagonal.png);*/
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	/*background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;*/
	background-color: #f1f1f1;
}

* {
	/* Prevent annoying gray flash on mobile safari */
	-webkit-tap-highlight-color: transparent;
}

/* Concentating too long cont... */
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Center element vertically and horizontally */
.absolute-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

/* Button for posting chus */
.post-chu-button {
	width: 48px;
	height: 48px;
	background-size: 48px 96px;
	vertical-align: top;
	display: inline-block;
	background-image: url(../../assets/images/post_chu_button.png);
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 100;
	background-position: 0 0;
}

.post-chu-button:active:hover:not([disabled]) {
	background-position: 0 -48px;
}

/* Indicator for when the next page in a list is loaded */
.next-page-spacer {
	height: 60px;
}

.spinner.next-page-spinner {
	position: absolute;
	bottom: -80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: -webkit-transform 0.5s;
	/*display: none;*/
}

.spinner.next-page-spinner.rise {
	-webkit-transform: translate3d(0, -100px, 0);
	/*display: block;*/
}

.last-page-marker {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

/* BUTTONS */

button {
	color: #444;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
	padding: 6px 15px 7px 15px;
	background-color: #ececec;
	border: 1px solid #d8d8d8;
	/*border-top: solid 1px #e7e7e7;
	border-bottom: solid 1px #cccccc;*/
	/*border: none;*/
	border-radius: 5px;
	line-height: 1.1em;
	/*box-shadow: 0px 1px 1px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 15px 14px rgba(255,255,255,0.57);*/
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
	box-sizing: border-box;
    -webkit-transition: background-color 0.3s linear 0.4s;
    margin: 0;
}

button:active:hover:not([disabled]) {
	-webkit-transition: none;
	background-color: #ddd;
}

button[disabled] {
	opacity: 0.5;
}

/* HEADER */

.header {
	height: 44px;
	/*background: url(../../assets/images/menu-bar.png) repeat-x;
	background-size: 320px 44px;*/
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca2868), to(#b01b05));
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	position: relative;
	z-index: 99;
	text-align: center;
}

.header-text {
	color: #f1f1f1;
	font-size: 14pt;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.header-logo {
	margin: 6px auto;
	background: url(../../assets/images/logo@2x.png) no-repeat center center;
	background-size: contain;
	width: 62px;
	height: 27px;
}

.header-button {
    border: none;
    background-color: transparent;
    padding: 7px 12px 8px 12px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f1f1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.1em;
    font-size: 10pt;
    font-weight: bold;
}

.header-button.primary {
	background-color: rgb(0, 130, 0);
    background-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
}

.header-button.primary:active:hover:not([disabled]) {
	background-color: rgb(0, 80, 0);
}

.header-button.left {
	position: absolute;
	top: 7px;
	left: 7px;
}

.header-button.right {
	position: absolute;
	top: 7px;
	right: 7px;
}

.header-button:active:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.2);
}

.header .menu-button {
	position: absolute;
	width: 40px;
	top: 7px;
	left: 5px;
	padding: 0;
}

.header .menu-button > .menu-button-icon {
	background: url(../../assets/images/menu_icon@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 17px;
	margin-top: -2px;
}

.header .notification-button {
	position: absolute;
	width: 40px;
	top: 7px;
	right: 5px;
	padding: 0;
	overflow: visible;
}

.header .notification-button > .notification-button-icon {
	background: url(../../assets/images/notifications@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-top: -1px;
}

.header .notification-button > .notification-button-badge {
	background: url(../../assets/images/badge@2x.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -8px;
	left: -8px;
	font-family: Verdana;
	font-size: 8pt;
	box-sizing: border-box;
	padding: 2px 0;
}

.header .back-button {
	position: absolute;
	top: 7px;
	left: 5px;
}

.header .done-button {
	position: absolute;
	top: 7px;
	right: 5px;
}

.header .share-button {
	position: absolute;
	width: 40px;
	top: 7px;
	right: 5px;
	padding: 0;
	overflow: visible;
}

.header .share-button > .share-button-icon {
	background: url(../../assets/images/share_light.png) no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-right: -2px;
}

.header-icon {
	display: inline-block;
	height: 44px;
	width: 44px;
	background: url() no-repeat center top;
	background-size: 44px 88px;
}

.header-icon:active:hover {
	background-position-y: -44px;
}

.header-icon.messaging {
    background-image: url(../../assets/images/header_messaging.png);
}

.header-icon.twitter {
    background-image: url(../../assets/images/header_twitter.png);
}

.header-icon.facebook {
    background-image: url(../../assets/images/header_facebook.png);
}

.header-icon.instagram {
    background-image: url(../../assets/images/header_instagram.png);
}

/* GROUPBOX */

.onyx-groupbox {
	background-color: White;
	border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.onyx-groupbox > * {
	border: none;
}

.onyx-groupbox > *:not(:last-child) {
	border-bottom: solid 1px #ddd;
}

.onyx-groupbox > *:first-child {
	border-radius: 5px 5px 0 0;
}

.onyx-groupbox > *:last-child {
	border-radius: 0 0 5px 5px;
}


/* INPUT */

.enyo-input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onyx-input-decorator.onyx-focused {
	box-shadow: inset 0 1px 2px #ddd;
}


/* VISIBILITY PICKER */

.visibility-picker {
	position: absolute;
	top: 8px;
	right: 75px;
}

.visibility-picker > * {
	margin: 0 2px;
}

.private-button {
	width: 28px;
	height: 28px;
	background: url(../../assets/images/private_button.png) no-repeat 0 0;
	background-size: 28px 56px;
	display: inline-block;
}

.private-button.active {
	background-position: 0 -28px;
}

.public-button {
	width: 28px;
	height: 28px;
	background: url(../../assets/images/public_button.png) no-repeat 0 0;
	background-size: 28px 56px;
	display: inline-block;
}

.public-button.active {
	background-position: 0 -28px;
}


/* CATEGORY ICONS */

.category-icon {
	background-size: cover;
	width: 36px;
	height: 36px;
}

.category-icon.head {
	background-image: url(../../assets/images/category_head.png);
}

.category-icon.accessoires {
	background-image: url(../../assets/images/category_accessoires.png);
}

.category-icon.torso {
	background-image: url(../../assets/images/category_torso.png);
}

.category-icon.legs {
	background-image: url(../../assets/images/category_legs.png);
}

.category-icon.feet {
	background-image: url(../../assets/images/category_feet.png);
}

/* PLACEHOLDER */

.placeholder {
	text-align: center;
	padding: 100px 0;
}

.placeholder-text {
	font-family: 'Homemade Apple';
	color: #555;
	padding: 10px 30px;
	font-size: 10pt;
}

.placeholder-image {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	background: url() no-repeat center center;
	background-size: cover;
}


/* PULLER */

.pulldown {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	opacity: 0;
	/*border: solid 1px;*/
	-webkit-perspective: 50px;
}

.pulldown-arrow {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url(../../assets/images/arrow.png) no-repeat center center;
	background-size: cover;
	margin-top: 10px;
	-webkit-transition: -webkit-transform 0.5s;
}

.pulldown.pulling .pulldown-arrow {
	-webkit-transform: rotateX(180deg);
}

.pulldown.pulled .pulldown-arrow {
	display: none;
}

.pulldown-spinner {
	position: absolute;
	top: -80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: -webkit-transform 0.5s;
	/*display: none;*/
}

.pulldown.pulled .pulldown-spinner {
	/*display: inline-block;*/
	-webkit-transform: translate3d(0, 100px, 0);
}

.enyo-puller {
	/*height: 68px;
	background: url(../../assets/images/pulldown.png) no-repeat center center;
	background-size: 320px 68px;
	padding: 0;
	margin-top: -1px;
	margin-bottom: 1px;
	box-shadow: inset 0 -1px 10px #333;*/
	padding: 10px 30px 0 30px;
}

.enyo-puller-arrow {
	width: 35px;
	height: 35px;
	background: url(../../assets/images/arrow.png) no-repeat center center;
	background-size: cover;
	margin-top: 5px;
}

.puller-spinner {
	width: 35px;
	height: 35px;
	background: url(../../assets/images/spinner.gif) no-repeat center center;
	background-size: 25px 25px;
	margin-top: 7px;
}

.enyo-puller-arrow:after {
	display: none;
}

.enyo-puller-text {
	font-size: 15pt;
	vertical-align: top;
	padding: 0;
}

/* Popup */

.onyx-popup {
	background-color: White;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #555;
	padding: 20px;
	background-image: none;
	color: black;
}

/* Spinner */

.onyx-spinner {
	width: 25px;
	height: 25px;
	background: url(../../assets/images/spinner.gif) no-repeat center center;
	background-size: 25px 25px;
}

.onyx-spinner.dark {
	width: 25px;
	height: 25px;
	background: url(../../assets/images/spinner_dark.gif) no-repeat center center;
	background-size: 25px 25px;
}

.onyx-spinner.tiny {
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}

/* Toggle Button */

.onyx-toggle-button {
	border-radius: 100px;
	height: 25px;
	line-height: 26px;
}

.onyx-toggle-content {
	font-size: 10pt;
}

.onyx-toggle-content.off {
	padding-left: 2px;
}

.onyx-toggle-content.on {
	padding-right: 2px;
}

.onyx-toggle-button-knob {
	height: 24px;
	width: 24px;
	border-radius: 100px;
}

.enyo-thumb {
	display: none;
}

/* LOADING SCRIM */

.loading-scrim {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
}

.loading-scrim-inner {
	color: #eee;
	position: absolute;
	text-align: center;
	height: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-family: Muli;
}

.loading-scrim-spinner {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.loading-scrim-text {
	display: inline-block;
	vertical-align: middle;
}

.loading-scrim-dismiss {
	width: 100%;
	position: absolute;
	bottom: 5px;
	color: #eee;
	font-size: 9pt;
	text-align: center;
}

.loading-scrim.show {
	opacity: 1;
}

/* ALERT */

.alert {
    position: absolute;
    z-index: 10;
    top: -42px;
    width: 100%;
    /*height: 30px;*/
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
}

.alert.error {
    background-color: #C30F26;
    color: white;
}

.alert.show {
    -webkit-transform: translate3d(0, 42px, 0);
    opacity: 1;
}

.notransition {
 	-webkit-transition: none !important;
}

/* LIST ITEM */

.list-item {
	background-color: #f1f1f1;
	padding: 8px;
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	border-bottom: solid 1px rgba(0, 0, 0, 0.05);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.01)));
}

.list-item.pressable:active:hover:not([disabled]), .list-item.selected {
	border-top-color: rgba(0, 0, 0, 0.08);
	border-bottom-color: rgba(255, 255, 255, 0.3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.02)));
}

.store-list-item {
}

.store-list-item-name {
	font-weight: bold;
}

.store-list-item-address {
	color: #555;
	font-size: 10pt;
	padding-top: 2px;
}