.chuboxitemview {
}

.chuboxitemview-productimage {
	width: 100%;
}

.chuboxitemview-username {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 9px 5px;
}

.chuboxitemview-price {
	
}

.chuboxitemview-likerimage {
	height: 32px;
	width: 32px;
	margin: 5px 2px;
}

.chuboxitemview-location {

}

/*.chuboxitemview.owned .chuboxitemview-like-button {
	display: none;
}*/