.chuboxitem {
	padding: 20px;
	width: 300px;
	height: 340px;
	margin: 20px;
	box-sizing: border-box;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 5px #333;
	background-image: url(../../assets/images/lightpaperfibers.png);
	display: inline-block;
	border-radius: 5px;
	position: relative;
}

.chuboxitem.highlight {
	background-color: Orange;
	background-image: none;
}

.chuboxitem-image {
	width: 260px;
	height: 260px;
	background: url() no-repeat center center;
	background-size: cover;
	border: solid 1px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: Gray;
}

.chuboxitem-caption {
	font-family: 'Annie Use Your Telescope';
	padding: 10px;
	font-size: 18pt;
}

.chuboxitem-delete-button {
	display: none;
	background-color: White;
	border: solid 1px;
	border-radius: 20px;
	position: absolute;
	background-position: center center;
	top: -15px;
	left: -15px;
}

.chuboxitem:hover .chuboxitem-delete-button {
	display: block;
}

.chuboxitem-delete-button:hover {
	background-color: Gray;
}

.listchuboxitem {
	background-color: White;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 5px #333;
	background-image: url(../../assets/images/lightpaperfibers.png);
}

.listchuboxitem-image {
	width: 50px;
	height: 50px;
	background: url() no-repeat center center;
	background-size: cover;
	border: #ccc solid 1px;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 5px;
	padding: 0;
	background-color: White;
}

.listchuboxitem-caption {
	font-family: 'Annie Use Your Telescope';
	font-size: 20pt;
	line-height: 40px;
	padding: 10px;
}

.listchuboxitem.onyx-highlight {
	background-color: Orange;
	background-image: none;
}