.chuboxlistitem {
	background-color: White;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 5px #333;
	background-image: url(../../assets/images/lightpaperfibers.png);
}

.chuboxlistitem-image {
	width: 50px;
	height: 50px;
	background: url() no-repeat center center;
	background-size: cover;
	border: #ccc solid 1px;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 5px;
	padding: 0;
	background-color: White;
}

.chuboxlistitem-caption {
	font-family: "Annie User Your Telescope";
	font-size: 18pt;
	line-height: 40px;
	padding: 10px;
}

.chuboxlistitem.onyx-highlight {
	background-color: Orange;
	background-image: none;
}