.chubox {
	position: relative;
	text-align: center;
	background-image: url(../../assets/images/soft_wallpaper_light@2x.png);
	background-size: 666px 666px;
}

.chubox-delete-button {
	position: absolute;
	left: -10px;
	top: -7px;
	display: none;
	width: 36px;
	height: 36px;
	background-size: 36px 72px;
	background-image: url(../../assets/images/delete_chu_button.png);
	background-position: 0 0;
}

.chubox-delete-button:active:hover:not([disabled]) {
	background-position: 0 -36px;
}

.chubox.editing .chubox-delete-button {
	display: block;
}

.chubox-chu {
	width: 98px;
	height: 98px;
	margin: 3px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 4px;
}

.chubox-chu-image {
	width: 100%;
	height: 100%;
	background: url() no-repeat center center;
	background-size: cover;
	/*border: solid 1px #555;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: Gray;
}

.chubox-row {
	margin-bottom: -6px;
}

.chubox-list {
	/*margin: 5px 0;*/
}

.chubox-chu.selected {
	background-color: orange;
}

.chubox-contextmenu {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 50px;
	z-index: 1000;
}

.chubox-contextmenu-left {
	background-color: red;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	border: solid 1px;
	-webkit-transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transform-origin: 100% 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.chubox-contextmenu-right {
	background-color: blue;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	border: solid 1px;
	-webkit-transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transform-origin: 0 50%;
	position: absolute;
	left: 50%;
	top: 0;
}

.chubox-contextmenu.unfolded > .chubox-contextmenu-left,
.chubox-contextmenu.unfolded > .chubox-contextmenu-right {
	-webkit-transform: rotateY(0);
}
