.chuboxitemview {
}

.chuboxitemview-productimage {
	width: 100%;
}

.chuboxitemview-username {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 9px 5px;
}

.chuboxitemview-price {
	
}

.chuboxitemview-likerimage {
	height: 32px;
	width: 32px;
	margin: 5px 2px;
}

.chuboxitemview-location {

}

.chuboxitemview-comments-scroller {
	max-height: 200px;
}

.chuboxitemview-comment {
	padding: 5px;
	border-bottom: dashed 1px #ccc;
}

.chuboxitemview-comment-avatar {
	width: 30px;
}

.chuboxitemview-comment-text {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}

.chuboxitemview-commentinput-decorator {
	width: 100%;
	box-sizing: border-box;
}

.chuboxitemview-commentinput-decorator > .enyo-input {
	width: 100%;
}

.chuboxitemview.owned .chuboxitemview-like-button {
	display: none;
}