.chufeeditem {
	box-sizing: border-box;
	/*border: #ccc solid 1px;*/
	/*margin: 10px;*/
	height: 336px;
	margin: 8px;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 4px;
}

.chufeeditem.onyx-highlight {
	background-color: #bbb;
}

.chufeeditem-avatar {
	margin-left: 1px;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	float: left;
}

.chufeeditem-fullname {
	display: block;
	vertical-align: top;
	font-size: 11pt;
	padding: 0 0;
	max-width: 150px
}

.chufeeditem-time {
	color: #555;
	font-size: 10pt;
	padding: 0 10px;
}

.chufeeditem-image {
	width: 100%;
	height: 288px;
	background: url() no-repeat center center;
	background-size: cover;
	background-color: White;
	box-sizing: border-box;
	/*border: solid 1px #ddd;*/
	margin-bottom: 4px;
	position: relative;
}

.chufeeditem-category-icon {
	position: absolute;
	top: 5px;
	right: 5px;
}

.chufeeditem-likes-comments {
	float: right;
}

.chufeeditem-likes-count,
.chufeeditem-comments-count {
	color: #555;
	font-size: 10pt;
	display: inline-block;
	vertical-align: top;
	padding: 0 2px;
}

.chufeeditem-likes-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/likes.png);
	background-size: 16px 16px;
	vertical-align: top;
	display: inline-block;
}

.chufeeditem-comments-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/comments.png);
	background-size: 16px 16px;
	vertical-align: top;
	display: inline-block;
}

/*.chufeeditem:active:hover:not([disabled]) {
	background-color: #ddd;
}
*/