.chufeeditem {
	margin: 8px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: #ffffff;
}

.chufeeditem-avatar {
	width: 35px;
	height: 35px;
	float: left;
}

.chufeeditem-fullname {
	display: block;
	vertical-align: top;
	font-size: 11pt;
	padding: 0 6px;
	max-width: 150px;
	font-weight: bold;
	line-height: 18px;
}

.chufeeditem-store {
	color: #555;
	font-size: 10pt;
	padding: 1px 6px 0 6px;
	line-height: 14px;
	max-width: 150px;
}

.chufeeditem-image-container {
	padding: 6px;
	line-height: 0;
	text-align: center;
}

.chufeeditem-image {
	width: 292px;
	height: 292px;
	background-color: #cccccc;
}

.chufeeditem-bottom-bar {
	width: 100%;
	display: -webkit-box;
}

.chufeeditem-bottom-bar > * {
	line-height: 0;
	background-color: #fdfdfd;
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.05)));*/
    border-top: solid 1px #eee;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
}

.chufeeditem-bottom-bar > *:not(:last-child) {
    border-right: 1px solid #eeeeee;
}

.chufeeditem-user-button {
	-webkit-box-flex: 1;
	text-align: left;
	/*border-bottom-left-radius: 3px;*/
}

.chufeeditem-store-button, .chufeeditem-heart-button {
	width: 50px;
	padding-top: 10px;
}

.chufeeditem-store-icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../../assets/images/feed_item_location.png) no-repeat 0 0;
	background-size: cover;
}

.chufeeditem-heart-icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../../assets/images/feed_item_heart.png) no-repeat 0 0;
	background-size: 28px 56px;
}

.chufeeditem-heart-button.active > .chufeeditem-heart-icon {
	background-position: 0 -28px;
}

.chufeeditem-heart-animated {
	width: 28px;
	height: 28px;
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	margin: auto;
	background: url(../../assets/images/feed_item_heart.png) no-repeat 0 -28px;
	background-size: 28px 56px;
	-webkit-transform: scale(0);
}

.chufeeditem-heart-button.active > .chufeeditem-heart-animated {
	-webkit-animation: scaleFade 0.5s ease-out;
}

.chufeeditem-likes-comments-time {
	float: right;
	margin-right: 2px;
	/*margin: 10px 5px;*/
}

.chufeeditem-time {
	color: #555;
	font-size: 10pt;
	max-width: 100px;
	text-align: right;
	padding: 2px;
}

.chufeeditem-likes-count,
.chufeeditem-comments-count {
	color: #555;
	font-size: 10pt;
	display: inline-block;
	vertical-align: top;
	padding: 0 3px 0 4px;
	line-height: 17px;
}

.chufeeditem-likes-icon,
.chufeeditem-comments-icon {
	width: 16px;
	height: 16px;
	background-size: cover;
	vertical-align: top;
	display: inline-block;
}

.chufeeditem-likes-icon {
	background-image: url(../../assets/images/likes_32x32.png);
}

.chufeeditem-comments-icon {
	background-image: url(../../assets/images/comments_32x32.png);
}