.chuform {
	background: none no-repeat center top;
	background-size: contain;
	background-color: Gray;
}

.chuform-spacer {
	/*height: 320px;*/
}

.chuform-content {
	background-color: white;
	position: relative;
}

.chuform-location-text {
	text-align: right;
	width: 100%;
	position: absolute;
	top: -30px;
	color: white;
}

.chuform-picker .onyx-button {
	width: 100%;
}

.chuform .onyx-item {
	box-sizing: border-box;
	padding: 5px;
	min-height: 40px;
}

.chuform-post-button {}

.chuform-price-label {
	position: absolute;
}