.chuform-imagecontainer {
	background: none no-repeat center top;
	background-size: cover;
	background-color: Gray;
	/*background-image: url(http://media.chuisy.com/media/chubox/Tron-Legacy-iphone-wallpaper-2.jpg);*/
}

/*.chuform-visibility-picker {
	height: auto;
	line-height: 28px;
	position: absolute;
	right: 70px;
	top: 8px;
	border-radius: 100px;
}

.chuform-visibility-picker > .onyx-toggle-button-knob {
	height: 26px;
	width: 26px;
	border-radius: 100px;
}

.chuform-visibility-picker > .onyx-toggle-content {
	font-size: 9pt;
}

.chuform-visibility-picker > .onyx-toggle-content.on {
	padding-left: 10px;
}

.chuform-visibility-picker > .onyx-toggle-content.off {
	padding-right: 10px;
}
*/
.chuform-price {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 20pt;
	line-height: 20pt;
	color: White;
	text-shadow: 0 0 5px #000;
	-webkit-transition-property: bottom, width, -webkit-transform;
	-webkit-transition-duration: 1s;
	text-align: center;
	white-space: nowrap;
}

.chuform-price.highlighted {
	-webkit-transform: scale(2);
	width: 100%;
	bottom: 300px;
}

.chuform-category-picker {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 36px;
	height: 36px;
}

.chuform-category-icon {
	opacity: 0;
	width: 36px;
	height: 36px;
	background-size: cover;
	position: absolute;
	-webkit-transition-property: bottom, right, opacity;
	-webkit-transition-duration: 0.3s;
}

.chuform-category-icon.selected,
.chuform-category-picker.open > .chuform-category-icon {
	opacity: 1;
}

.chuform-category-icon.head {
	background-image: url(../../assets/images/chubox.png);
}

.chuform-category-icon.accessoires {
	background-image: url(../../assets/images/profile.png);
}

.chuform-category-icon.torso {
	background-image: url(../../assets/images/settings.png);
}

.chuform-category-icon.legs {
	background-image: url(../../assets/images/search.png);
}

.chuform-category-icon.feet {
	background-image: url(../../assets/images/home.png);
}