.chuform-image-wrapper {
	position: relative;
	width: 100%;
	padding: 8px;
}

.chuform-image {
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 1px 1px #888;
	background-color: white;
	padding: 4px;
	border-radius: 2px;
}

.chuform-price {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 20pt;
	text-shadow: 0 0 5px #000;
	color: white;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.3s;
	-webkit-transform-origin: 0 100%;
}

.chuform-price-hint {
	font-size: 18pt;
	position: absolute;
	left: 0;
	right: 0;
	top: 110px;
	text-shadow: 0 0 5px #000;
	color: white;
	text-align: center;
	padding: 0 45px;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
}

.chuform.adjusting-price .chuform-price {
	-webkit-transform: scale(1.5);
}

.chuform-price-hint.showing {
	opacity: 1;
}

.chuform-price-hint2 {
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	color: #555;
	font-size: 17pt;
	box-sizing: border-box;
}

.chuform-drag-indicator {
	width: 100%;
	text-align: center;
}

.chuform-drag-indicator-arrow {
	width: 156px;
	height: 38px;
	background: url(../../assets/images/drag_arrow.png) no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}

.chuform-drag-indicator-text {
	color: White;
	text-shadow: 0 0 5px #000;
	font-size: 15pt;
	padding: 10px;
}