.chuitem {
	padding: 20px;
	width: 280px;
	height: 340px;
	margin: 10px;
	box-sizing: border-box;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 5px #333;
	background-image: url(../../assets/images/lightpaperfibers.png);
	display: inline-block;
	border-radius: 5px;
}

.chuitem.highlight {
	background-color: Orange;
	background-image: none;
}

.chuitem-image {
	width: 240px;
	height: 240px;
	background: url() no-repeat center center;
	background-size: cover;
	border: solid 1px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: Gray;
}

.chuitem-caption {
	font-family: 'Annie Use Your Telescope';
	padding: 10px;
	font-size: 18pt;
}

.minichuitem {
	padding: 10px;
	width: 140px;
	height: 160px;
	margin: 5px;
	box-sizing: border-box;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 5px #333;
	background-image: url(../../assets/images/lightpaperfibers.png);
	display: inline-block;
	border-radius: 4px;
}

.minichuitem.highlight {
	background-color: Orange;
	background-image: none;
}

.minichuitem-image {
	width: 120px;
	height: 120px;
	background: url() no-repeat center center;
	background-size: cover;
	border: solid 1px #555;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: Gray;
}

.minichuitem-caption {
	font-family: 'Annie Use Your Telescope';
	padding: 5px;
	font-size: 12pt;
}