.chulist {
	text-align: center;
}

.chulist-chu {
	padding: 3px;
	width: 98px;
	height: 98px;
	margin: 3px;
	box-sizing: border-box;
	/*border: #ccc solid 1px;*/
	box-shadow: 1px 2px 3px #666;
	/*background-image: url(../../assets/images/lightpaperfibers.png);*/
	background-color: White;
	display: inline-block;
	position: relative;
}

.chulist-chu-image {
	width: 100%;
	height: 100%;
	background: url() no-repeat center center;
	background-size: cover;
	/*border: solid 1px #555;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: Gray;
}

.chulist-row {
	margin-bottom: -6px;
}