.chuview {
}

.chuview-image-scroller {
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.chuview-image-container {
	width: 100%;
	padding: 44px 0 1000px 0;
	box-sizing: border-box;
}

.chuview-image {
	margin-left: -5%;
	width: 110%;
	-webkit-transition: opacity 1s;
}

.chuview-image.loading {
	opacity: 0;
}

.chuview-spacer {
	height: 250px;
	position: relative;
}

.chuview-content {
	background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;
	background-color: #eee;
	padding: 5px;
	box-shadow: 0 0 20px #000000;
}

.chuview-comments {
}

.chuview-comment {
	margin: 5px 0;
	display: -webkit-box;
}

.chuview-comment-avatar {
	margin-right: 5px;
	width: 35px;
	height: 35px;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
}

.chuview-comment-content {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 5px 10px;
	-webkit-box-flex: 1;
	font-family: Muli;
}

.chuview-comment-text {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	font-size: 10pt;
}

.chuview-comment-footnote {
	display: inline;
	color: #555;
	font-size: 8pt;
}

.chuview-commentinput-decorator {
	border-radius: 0;
	width: 100%;
	height: 35px;
	padding: 0;
	display: -webkit-box;
}

.chuview-commentinput-decorator > .enyo-input {
	display: block;
	min-height: 0;
	height: 100%;
	padding: 7px 5px;
	box-sizing: border-box;
	-webkit-box-flex: 1;
}

.chuview-commentinput-button {
	margin: 2px;
}

.chuview-more-comments {
	width: 100%;
	margin: 5px 0;
}

.chuview-comments-spinner {
	display: block;
	margin: 5px auto 15px auto;
}

.chuview-likebar {
	width: 320px;
	height: 64px;
	background: url(../../assets/images/chu_separator.png) no-repeat 0 center;
	background-size: 320px 48px;
	margin-bottom: -32px;
	position: relative;
	z-index: 10;
	text-align: center;
	-webkit-perspective: 200px;
}

.chuview-like-button {
	width: 64px;
	height: 64px;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.5s;
	position: relative;
	-webkit-transform-style: preserve-3d;
}

.chuview-like-button-side {
	position: absolute;
 	-webkit-backface-visibility: hidden;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	background: url(../../assets/images/like_button.png) no-repeat 0 0;
	background-size: 64px 128px;
}

.chuview-like-button-side.front {
	background-position: 0 0;
}

.chuview-like-button-side.back {
	background-position: 0 -64px;
	-webkit-transform: rotateX(180deg);
}

.chuview-like-button.active {
	-webkit-transform: rotateX(180deg);
}

.chuview-infobar {
	padding: 5px 0;
	overflow: hidden;
}

.chuview-separator {
	height: 0;
	width: 100%;
	border-top: solid 1px #ddd;
	margin: 10px 0;
}

.chuview-comments-likes-price {
	padding: 8px 0 4px 4px;
}

.chuview-avatar {
	margin-left: 1px;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	float: left;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
}

.chuview-fullname {
	display: inline-block;
	vertical-align: top;
	font-size: 11pt;
	padding: 0 0;
	max-width: 200px;
	width: auto;
}

.chuview-time {
	color: #555;
	font-size: 9pt;
	padding: 0 10px;
}

.chuview-location {
	color: #555;
	font-size: 10pt;
	float: right;
	max-width: 100px;
	text-align: right;
	max-height: 35px;
	overflow: hidden;
}

.chuview-likes-comments {
	float: right;
	margin-right: 5px;
}

.chuview-price {
	font-size: 11pt;
	color: #555;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.chuview-likes-count,
.chuview-comments-count {
	color: #555;
	font-size: 11pt;
	display: inline-block;
	vertical-align: top;
	padding: 0 4px;
}

.chuview-likes-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/likes_32x32.png);
	background-size: cover;
	vertical-align: top;
	display: inline-block;
}

.chuview-comments-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/comments_32x32.png);
	background-size: cover;
	vertical-align: top;
	display: inline-block;
}

.chuview-image-loading {
	position: absolute;
	z-index: -2000;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding-top: 110px;
	font-size: 18pt;
	color: white;
}

.chuview-spinner {
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	margin: auto;
}

.chuview-share-controls {
	visibility: hidden;
	float: right;
	margin: 0px;
	padding: 0px;
	height: 44px;
}

.chuview.owned .chuview-share-controls {
	visibility: visible;
}

.chuview-visibility {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../assets/images/header_visibility.png) no-repeat center center;
	background-size: 40px 80px;
	background-position: center 0;
	margin: 2px 0;
	padding: 0 3px;
	-webkit-transition: background-position 0.4s;
	border-left: dotted 2px rgba(113, 0, 28, 0.6);
}

.chuview-visibility.public {
	background-position: center -40px;
}

.chuview-header-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url() no-repeat center center;
	background-size: 40px 80px;
	background-position: 0 0;
	margin: 2px 0;
}

.chuview-header-button:active:hover:not([disabled]):not(.friends) {
	background-position: 0 -40px;
}

.chuview-header-button.messaging {
	background-image: url(../../assets/images/header_messaging.png);
}

.chuview-header-button.friends {
	background-image: url(../../assets/images/header_friends.png);
}

.chuview-header-button.twitter {
	background-image: url(../../assets/images/header_twitter.png);
}

.chuview-header-button.facebook {
	background-image: url(../../assets/images/header_facebook.png);
}

.chuview-header-button.pinterest {
	background-image: url(../../assets/images/header_pinterest.png);
}

.chuview-header-button.friends.active {
	background-position: 0 -40px;
}

.chuview-share-panels {
	 width: 170px;
	 height: 44px;
	 display: inline-block;
	 text-align: right;
	 margin-right: 5px;
}

.chuview-friends-slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;
	z-index: 100;
}

.chuview-friends-hint {
	padding: 10px 40px;
	text-align: center;
	color: #555;
	font-size: 10pt;
}

.chuview-friends-placeholder-image {
	background-image: url(../../assets/images/friends_placeholder.png);
}

.chuview-error-icon {
	position: absolute;
	z-index: 100;
	top: -20px;
	right: 0px;
	width: 50px;
	height: 50px;
	background: url(../../assets/images/warning_48x48.png) no-repeat center center;
	background-size: 24px 24px;
}