.chuview {
}

.chuview-productimage {
	width: 100%;
}

.chuview-username {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 9px 5px;
	max-width: 200px;
}

.chuview-price {
	
}

.chuview-likerimage {
	height: 32px;
	width: 32px;
	margin: 5px 2px;
}

.chuview-location {

}

.chuview-comments-scroller {
	max-height: 200px;
}

.chuview-comment {
	padding: 5px;
	border-bottom: dashed 1px #ccc;
}

.chuview-comment-avatar {
	width: 30px;
}

.chuview-comment-text {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}

.chuview-commentinput-decorator {
	width: 100%;
	box-sizing: border-box;
}

.chuview-commentinput-decorator > .enyo-input {
	width: 100%;
}

.chuview.owned .chuview-like-button {
	display: none;
}