.chuwebview {
	text-align: center;
}

.chuwebview-header-logo {
	display: inline-block;
	width: 70px;
	height: 40px;
	background: url(../../assets/images/logo_header.png) no-repeat center center;
	background-size: 70px 40px;
	background-position: 0 0;
	margin: 2px 6px;
}

.chuwebview-body {
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	white-space: nowrap;
}

.chuwebview-body > * {
	white-space: normal;
}

.chuwebview-info {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	text-align: right;
	overflow: hidden;
}

.chuwebview-avatar {
	width: 50px;
	height: 50px;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	margin-top: 5px;
}

.chuwebview-fullname {
	display: none;
	vertical-align: top;
	font-size: 11pt;
	padding-top: 2px;
	max-width: 200px;
	width: auto;
}

.chuwebview-time {
	color: #555;
	font-size: 9pt;
}

.chuwebview-likes-comments {
	margin-top: 5px;
}

.chuwebview-likes-count,
.chuwebview-comments-count {
	color: #888;
	font-size: 10pt;
	display: inline-block;
	vertical-align: top;
	padding: 0 3px 0 4px;
	line-height: 14pt;
}

.chuwebview-likes-icon,
.chuwebview-comments-icon {
	width: 16px;
	height: 16px;
	background-size: cover;
	vertical-align: top;
	display: inline-block;
}

.chuwebview-likes-icon {
	background-image: url(../../assets/images/likes_32x32.png);
}

.chuwebview-comments-icon {
	background-image: url(../../assets/images/comments_32x32.png);
}

.chuwebview-like-button {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	background: url(../../assets/images/like_button.png) no-repeat 0 0;
	background-size: 40px 80px;
	float: right;
	margin-top: -1px;
}

.chuwebview-like-button.active {
	background-position: 0 -40px;
}

.chuwebview-image {
	width: 100%;
}

.chuwebview-image-container {
	display: inline-block;
	padding: 5px;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	position: relative;
	width: 612px;
	margin: 0 20px;
}

.chuwebview-like-overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
}

.chuwebview-image-container:hover .chuwebview-like-overlay {
	display: block;
}

.chuwebview-like-button-2 {
	/*display: none;*/
	width: 128px;
	height: 128px;
	background: url(../../assets/images/like_button_2.png) no-repeat 0 0;
	background-size: 128px 256px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.chuwebview-like-button-2.active {
	background-position: 0 -128px;
}

.chuwebview-price {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: white;
	text-shadow: 0 0 5px #000;
}

.chuwebview-location {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: white;
	text-align: right;
	max-width: 150px;
	text-shadow: 0 0 5px #000;
}

.chuwebview-comments {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	text-align: left;
	padding-top: 5px;
}

.chuwebview-commentinput-decorator {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

.chuwebview-commentinput-decorator > .enyo-input {
	width: 100%;
}

.chuwebview-comments-repeater {
	width: 100%;
}

.chuwebview-comment {
	padding: 5px 0;
	display: -webkit-box;
	border-bottom: solid 1px #ddd;
}

.chuwebview-comment-avatar {
	margin: 2px;
	width: 35px;
	height: 35px;
	border: solid 1px #ccc;
}

.chuwebview-comment-content {
	padding: 0 5px;
	-webkit-box-flex: 1;
}

.chuwebview-comment-text {
	width: 100%;
	box-sizing: border-box;
	font-size: 10pt;
	color: #666;
	padding: 2px;
	/*font-family: Muli;*/
}

.chuwebview-comment-fullname {
	font-size: 11pt;
	max-width: 150px;
	padding-top: 2px;
}

.chuwebview-comment-time {
	color: #555;
	font-size: 9pt;
	float: right;
	margin-top: 4px;
}

.chuwebview-more-comments {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	font-size: 10pt;
	box-sizing: border-box;
	color: #ff1e78;
}

.chuwebview-more-comments:hover {
	text-decoration: underline;
}

.chuwebview-comments-spinner {
	display: block;
	margin: 5px auto;
}

.chuwebview-signin-dialog {
	width: 90%;
	max-width: 285px;
	box-sizing: border-box;
}

.chuwebview-signin-text {
	padding-bottom: 20px;
	font-size: 13pt;
	text-align: center;
}

.chuwebview-signin-cancel-button {
	position: absolute;
	right: -18px;
	top: -18px;
	width: 36px;
	height: 36px;
	background-size: 36px 72px;
	background-image: url(../../assets/images/delete_chu_button.png);
	background-position: 0 0;
	z-index: 1001;
}

.chuwebview-signin-cancel-button:hover {
	background-position: 0 -36px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.chuwebview-body {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.chuwebview-info, .chuwebview-image-container, .chuwebview-comments {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	.chuwebview-info {
		text-align: left;
	}

	.chuwebview-avatar {
		margin: 0 10px 10px 0;
		width: 35px;
		height: 35px;
		float: left;
		border: solid 1px #ccc;
	}

	.chuwebview-fullname {
		display: block;
	}

	.chuwebview-like-button {
		display: block;
	}

	.chuwebview-image-container {
		margin: 0;
	}

	.chuwebview-image-container:hover .chuwebview-like-overlay {
		display: none;
	}
}