.chuwebview {
	text-align: center;
}

.chuwebview-body {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	max-width: 600px;
	text-align: left;
}

.chuwebview-header-logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../assets/images/feed.png) no-repeat center center;
	background-size: 40px 80px;
	background-position: 0 0;
	margin: 2px 6px;
}

.chuwebview-image {
	width: 100%;
	padding: 5px;
	background-color: White;
}

.chuwebview-avatar {
	width: 25px;
	height: 25px;
	padding: 2px;
	border-radius: 2px;
}

.chuwebview-likes-count,
.chuwebview-comments-count {
	display: inline-block;
	float: right;
	padding: 3px 0;
}

.chuwebview-likes-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/likes_32x32.png);
	background-size: cover;
	vertical-align: top;
	float: right;
	margin: 3px;
}

.chuwebview-comments-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/comments_32x32.png);
	background-size: cover;
	vertical-align: top;
	float: right;
	margin: 3px;
}

.chuwebview-like-button {
	width: 100%;
	height: 50px;
	max-width: 200px;
	background-color: #eee;
	background-image: none;
	display: block;
	margin: 0 auto;
}

.chuwebview-like-button.active,
.chuwebview-like-button:active:hover:not([disabled]) {
	background-image: none;
	background-color: #C30F26;
	border-top: none;
}

.chuwebview-like-button-icon {
	width: 24px;
	height: 24px;
	background: url(../../assets/images/heart_16x16.png) no-repeat center center;
}

.chuwebview-like-button.active > .chuwebview-like-button-icon,
.chuwebview-like-button:active:hover:not([disabled]) > .chuwebview-like-button-icon {
	background-image: url(../../assets/images/heart_light_16x16.png);
}

.chuwebview-commentinput-decorator {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

.chuwebview-comment {
	margin: 10px 0;
	background-color: White;
	box-shadow: 0 0 4px #666;
	padding: 10px;
}

.chuwebview-comments-repeater {
	width: 100%;
}

.chuwebview-comment-fullname {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
}

.chuwebview-comment-time {
	float: right;
}


.chuwebview-fullname {
	display: inline-block;
	vertical-align: top;
	font-size: 11pt;
	padding: 0 0;
	max-width: 200px;
	width: auto;
}

.chuwebview-signin-dialog {
	width: 320px;
}

.chuwebview-signin-text {
	padding-bottom: 20px;
	font-size: 13pt;
	text-align: center;
}

.chuwebview-signin-cancel-button {
	position: absolute;
	right: -18px;
	top: -18px;
	width: 36px;
	height: 36px;
	background-size: 36px 72px;
	background-image: url(../../assets/images/delete_chu_button.png);
	background-position: 0 0;
	z-index: 1001;
}

.chuwebview-signin-cancel-button:hover {
	background-position: 0 -36px;
}