.closet {
	position: relative;
	text-align: center;
}

.closet-delete-button {
	position: absolute;
	left: -10px;
	top: -7px;
	display: none;
	width: 36px;
	height: 36px;
	background-size: 36px 72px;
	background-image: url(../../assets/images/delete_chu_button.png);
	background-position: 0 0;
}

.closet-delete-button:active:hover:not([disabled]) {
	background-position: 0 -36px;
}

.closet.editing .closet-delete-button {
	display: block;
}

.closet-chu {
	width: 96px;
	height: 96px;
	margin: 8px 4px 0 4px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 4px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
}

.closet-chu.deleted {
	-webkit-transform: scale(0);
	opacity: 0;
}

.closet-chu-image {
	width: 100%;
	height: 100%;
	background: url() no-repeat center center;
	background-size: cover;
	/*border: solid 1px #555;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.closet-row {
	line-height: 0;
}

.closet-list {
	/*margin: 5px 0;*/
}

.closet .placeholder-image {
	background-image: url(../../assets/images/closet_placeholder.png);
}

.closet-chu-error-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 12px;
	height: 12px;
	background: url(../../assets/images/warning_48x48.png);
	background-size: cover;
}

.closet-edit-hint {
	width: 100%;
	position: absolute;
	bottom: 5px;
	z-index: 100;
}

.closet-edit-hint-text {
	display: inline;
	color: #000;
	font-size: 9pt;
	background-color: rgba(238, 238, 238, 0.8);
	padding: 0 2px;
}

.closet-done-button, .closet.editing .closet-edit-button {
 	display: none;
}

.closet.editing .closet-done-button {
	display: block;
}

/*
.closet-contextmenu {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 50px;
	z-index: 1000;
}

.closet-contextmenu-left {
	background-color: red;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	border: solid 1px;
	-webkit-transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transform-origin: 100% 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.closet-contextmenu-right {
	background-color: blue;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	border: solid 1px;
	-webkit-transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transform-origin: 0 50%;
	position: absolute;
	left: 50%;
	top: 0;
}

.closet-contextmenu.unfolded > .closet-contextmenu-left,
.closet-contextmenu.unfolded > .closet-contextmenu-right {
	-webkit-transform: rotateY(0);
}
*/
