.composechu {
}

.composechu-tag-button {
	width: 23px;
	height: 23px;
	border: dashed 1px;
	border-radius: 1px;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	background: url(../../assets/images/add.png) no-repeat center center;
	background-size: 100%;
}

.composechu-taggedrepeater {
	display: inline-block;
}

.composechu-taggedrepeater-thumbnail {
	margin: 3px;
}

.composechu-location-button {
	padding: 2px 0;
	float: right;
	margin: 3px;
}

.composechu-new-item {
	padding: 5px;
	width: 140px;
	height: 140px;
	margin: 5px;
	box-sizing: border-box;
	border: #ccc dashed 1px;
	display: inline-block;
	border-radius: 3px;
	vertical-align: top;
	background-color: transparent;
	background-image: none;
}

.composechu-visibility-selector {
	display: inline-block;
}

.composechu-post-button {
}