.searchinput.discover-searchinput {
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 10;
	border: none;
}

.searchinput.discover-searchinput.scrollaway {
	position: absolute;
	top: 44px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
}

.searchinput.discover-searchinput.scrollaway.hide, .searchinput.discover-searchinput.scrollaway.disabled {
    -webkit-transform: translate3d(0, -40px, 0);
}

.discover-alert {
	top: 4px;
}

.discover-resultchu {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 4px;
	margin: 5px;
}

.discover-resultchu-image {
	width: 100%;
	height: 100px;
	background: url() no-repeat center center;
	background-size: cover;
	position: relative;
}

.discover-resultchu-avatar {
	margin: 4px;
	width: 32px;
	height: 32px;
	border-radius: 2px;
	border: solid 2px White;
}

.discover-no-results {
	height: 50px;
    font-size: 13pt;
    /*font-variant: small-caps;*/
    font-weight: bold;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-align: center;
}

.discover-tabs {
	position: relative;
	z-index: 10;
	height: 45px;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	display: -webkit-box;
}

.discover-tab {
	-webkit-box-flex: 1;
	box-sizing: border-box;
	background-color: #eee;
	line-height: 45px;
	font-size: 10pt;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.discover-tab:not(:last-child) {
	border-right: 1px solid rgba(0, 0, 0, 0);
}

.discover-tab:not(:first-child) {
	border-left: 1px solid rgba(15, 15, 15, 0.2);
}

.discover-tabs > *:active:hover:not([disabled]) {
	background-color: white;
}

.discover-placeholder {
	width: 128px;
	height: 128px;
	background: url(../../assets/images/discover_placeholder.png) no-repeat center center;
	background-size: cover;
}

.discover.marker-open .storemarker:not(.expand) {
	display: none;
}

.discover-spinner {
	position: absolute;
	top: 95px;
	left: 0;
	right: 0;
	margin: 0 auto;
}