.discover {
}

.searchinput.discover-searchinput {
	border-radius: 0;
	box-sizing: border-box;
}

.discover-resultchu {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 4px;
	margin: 5px;
}

.discover-resultchu-image {
	width: 100%;
	height: 100px;
	background: url() no-repeat center center;
	background-size: cover;
	position: relative;
}

.discover-resultchu-avatar {
	margin: 4px;
	width: 32px;
	height: 32px;
	border-radius: 2px;
	border: solid 2px White;
}

.discover-resultchu-category {
	position: absolute;
	right: 5px;
	top: 5px;
}

.discover-result-panel {
	position: relative;
}

.discover-no-results {
	height: 50px;
	font-size: 15pt;
	text-align: center;
}

.discover-tabs {
	height: 45px;
	text-align: center;
}

.discover-tabs > * {
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0 !important;
	background-image: none;
	background-color: #eee;
	/*border-top: none !important;*/
	vertical-align: top;
}

.discover-tabs > *.active {
	box-shadow: none;
	background-color: white;
	background-image: none;
	color: black;
	border-top: 1px solid rgba(15, 15, 15, 0.2);
}

.discover-tab-caption {
	display: block;
	font-size: 10pt;
	margin: 0 auto;
}

.discover-tab-count {
	display: block;
	margin: 0 auto;
	font-size: 12pt;
}

.discover-placeholder {
	width: 128px;
	height: 128px;
	background: url(../../assets/images/discover_placeholder.png) no-repeat center center;
	background-size: cover;
}

.discover-map-button {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
}

.discover-store {
	padding: 8px;
	border-top: solid 1px #ddd;
}

.discover-store-address {
	color: #555;
	font-size: 10pt;
	padding-top: 2px;
}