.facebooksignin {
	background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;
	text-align: center;
	padding-top: 50px;
}

.facebooksignin-placeholder {
	width: 128px;
	height: 128px;
	margin: 0 auto;
	background: url(../../assets/images/facebook_connect.png);
	background-size: cover;
}

.facebooksignin-text {
	padding: 40px 40px;
	text-align: center;
	color: #555;
	font-size: 10pt;
}

.facebooksignin-cancel-button {
	display: block;
	margin: 5px auto;
	width: 230px;
}