@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(../../assets/fonts/Quicksand/Quicksand-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(../../assets/fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(../../assets/fonts/Quicksand/Quicksand-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple'), local('HomemadeApple'), url(../../assets/fonts/Homemade_Apple/HomemadeApple.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), local('Muli'), url(../../assets/fonts/Muli/Muli-Regular.ttf) format('truetype');
}