@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: local('Homemade Apple'), local('HomemadeApple'), url(../../assets/fonts/Homemade_Apple/HomemadeApple.ttf) format('truetype');
}