.getstarted {
	/*padding: 50px;*/
	box-sizing: border-box;
	background: url(../../assets/images/loading_screen.png) no-repeat center center;
	background-size: 320px 568px;
}

.getstarted-login {
	position: relative;
}

.getstarted-login-logo {
	width: 100%;
	height: 100%;
	background: url(../../assets/images/loading_screen_logo.png) no-repeat center center;
	background-size: 320px 568px;
	position: relative;
	top: -10px;
	-webkit-transition: top 0.5s;
}

.getstarted-login-buttons {
	position: absolute;
	width: 250px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 1s linear 0.5s;
}

.getstarted.shown .getstarted-login-logo {
	top: -70px;
}

.getstarted.shown .getstarted-login-buttons {
	opacity: 1;
}

.getstarted-login-buttons > .onyx-button {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	height: auto;
}

.getstarted-login-spinner {
	display: block;
	margin: 40px auto;
}

.getstarted-invitefriends-text {
	width: 100%;
	text-align: center;
	padding: 17px;
	color: #555;
	font-size: 14pt;
	box-sizing: border-box;
}

.getstarted-invitefriends-continue {
	padding: 10px 5px;
	box-shadow: 0 -1px 5px #222;
	position: relative;
	z-index: 100;
}
.getstarted-invitefriends-continue-button {
	width: 100%;
}