.goodies {
	padding: 0;
}

.notransition {
 	-webkit-transition: none !important;
}

.goodies-item {
	width: 100px;
	height: 100px;
	margin: 0 2px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 1px 1px #888;
	padding: 4px;
	background: #ffffff url() no-repeat center center;
	background-size: cover;
}

.goodies-item.tall {
	height: 204px;
}

.goodies-item.wide {
	width: 204px;
}

.goodies-item.big {
	height: 204px;
	width: 204px;
}

.goodies-item.panorama {
	width: 308px;
}

.goodies-item.left {
	float: left;
}

.goodies-item.right {
	float: right;
}

.goodies-card-stage {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1000px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.5s;
}

.goodies-card-stage.scrim {
	background-color: rgba(0, 0, 0, 0.7);
}

.goodies-card {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 300px;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transition-timing-function: ease;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
}

.goodies-card.elastic {
 	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.goodies-card-side {
	position: absolute;
 	-webkit-backface-visibility: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 0 5px #888;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.goodies-card-side.front {
	background: #ffffff url() no-repeat center center;
	background-size: cover;
}

.goodies-card-side.back {
	-webkit-transform: rotateY(180deg);
	background-color: #ffffff;
}

.goodies-card-text {
	padding: 20px;
	color: #555;
}