.card-side.guide-card-side {
    background-image: url(../../assets/images/lightpaperfibers.png);
    background-size: 500px 300px;
    text-align: center;
    height: 330px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.guide-card-ghost {
    width: 100%;
    text-align: center;
}

.guide-card-ghost-bullet {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0 8px;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

.guide-card-ghost-bullet.active {
    background-color: rgba(195, 15, 38, 0.8);
    border: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.guide-card-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
    padding: 20px 20px 10px 20px;
    font-size: 20pt;
}

.guide-card-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.59);
    padding: 0 20px 15px 20px;
    font-size: 11pt;
    line-height: 1.2em;
}