.fbfriendspicker-friend {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 10px;
	margin: 5px;
	height: 32px;
}

.fbfriendspicker-friend-avatar {
	width: 32px;
	height: 32px;
}

.fbfriendspicker-friend-fullname {
	display: inline-block;
	vertical-align: top;
	max-width: 150px;
	padding: 5px 10px;
}

.fbfriendspicker-friend-check {
	width: 32px;
	height: 32px;
	float: right;
	background: url(../../assets/images/check.png) no-repeat center center;
	background-size: cover;
	margin-top: 3px;
}

.fbfriendspicker-friend-add-button {
	float: right;
	width: 85px;
}

.fbfriendspicker-filter-input {
	border-radius: 0;
	width: 100%;
}