.listchu {
	box-sizing: border-box;
	border: #ccc solid 1px;
	box-shadow: 2px 2px 2px #555;
	background-color: White;
	border-radius: 3px;
	margin: 5px 0;
	padding: 5px;
}

.listchu.onyx-highlight {
	background-color: #bbb;
}

.listchu-avatar {
	margin: 5px;
}

.listchu-username {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 5px 5px;
}

.listchu-title {
	padding: 5px;
	font-size: 13pt;
	width: 100%;
	color: #555;
}

.listchu-time {
	color: #555;
	font-size: 11pt;
	float: right;
	padding: 7px;
}

.listchu-image1 {
	width: 184px;
	height: 184px;
	margin: 4px 0 4px 4px;
	background: url() no-repeat center center;
	background-size: cover;
	background-color: White;
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px #ddd;
}

.listchu-image2, .listchu-image3 {
	width: 90px;
	height: 90px;
	margin: 4px;
	background: url() no-repeat center center;
	background-size: cover;
	background-color: White;
	box-sizing: border-box;
	vertical-align: top;
	border: solid 1px #ddd;
}