.mainview {
	position: relative;
}

.mainmenu {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

.mainmenu-item {
	padding: 10px;
}

.mainmenu-item:hover {
	background-color: White;
}

.mainmenu-item.selected {
	background-color: White;
}

.mainslider {
	background-color: White;
}