.mainview {
	position: relative;
	background-image: url(../../assets/images/navy_blue.png);
}

.mainmenu {
	width: 270px;
	background-color: transparent;
	position: absolute;
	padding: 0 10px;
	box-sizing: border-box;
	height: 100%;
	color: #eee;
}

.mainmenu-item {
	padding: 10px 0;
	border-bottom: dashed 2px #222;
}

.mainmenu-item-icon {
	background-position: center center;
	vertical-align: top;
}

.mainmenu-item-text {	font-size: 13pt;
	display: inline-block;
	vertical-align: top;
	padding: 6px 8px;
	/*line-height: 30px;*/
}

.mainmenu-item:hover {
	/*box-shadow: inset 0 2px 5px #000;*/
}

.mainmenu-item.selected {
	/*background-color: White;*/
}

.mainslider {
	background-image: url(../../assets/images/roughcloth@2x.png);
	background-size: 320px 320px;
	box-shadow: -2px 0 10px #000;
	border-radius: 5px;
}