.mainview {
	position: relative;
	/*background-image: url(../../assets/images/irongrip@2x.png);
	background-size: 300px 301px;*/
	background-image: url(../../assets/images/soft_wallpaper_light_small.png);
	background-size: 100px 100px;
}