.tooltip-tip {
	background-color: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	width: 8px;
	height: 8px;
	margin: -5px auto;
	-webkit-transform: rotate(45deg);
	position: relative;
	z-index: 1;
}

.tooltip-content-wrapper {
	box-shadow: 1px 1px 1px #888;
	border-radius: 2px;
	padding: 10px;
	background: white;
	text-align: left
}

.gmnoprint {
	display: none;
}