.menu {
	text-align: left;
	display: -webkit-box;
}

.menu-item {
	background: url() no-repeat center top;
	background-size: 44px 88px;
	-webkit-box-flex: 1;
}

.menu-item:not(:last-child) {
	border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.menu-item:not(:first-child) {
	border-left: solid 1px rgba(255, 255, 255, 0.1);
} 

.menu-item.active {
	background-position-y: -44px;
	background-color: rgba(0, 0, 0, 0.1);
	/*box-shadow: inset 0 15px 30px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1);*/
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	/*box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05);*/
}

.menu-item-active:not(:last-child) {
	border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.menu-item.feed {
	-webkit-box-flex: 1.5;
	background-image: url(../../assets/images/header_logo.png);
	background-size: 88px 88px;
}

.menu-item.profile {
	background-image: url(../../assets/images/header_profile.png);
}

.menu-item.goodies {
	background-image: url(../../assets/images/header_goodies.png);
}

.menu-item.notifications {
	background-image: url(../../assets/images/header_notifications.png);
	background-size: 44px 132px;
}

.menu.new-notifications .menu-item.notifications:not(.active) {
	background-position-y: -88px;
}