.menu {
	text-align: left;
}

.menu-item {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: url() no-repeat center center;
	background-size: 44px 88px;
	background-position: 0 0;
	margin: 0 6px;
}

.menu-item.active {
	background-position: 0 -44px;
}

.menu-item.feed {
	width: 73px;
	background-image: url(../../assets/images/header_logo.png);
	background-size: 73px 88px;
}

.menu-item.profile {
	float: right;
	background-image: url(../../assets/images/header_profile.png);
}

.menu-item.goodies {
	float: right;
	background-image: url(../../assets/images/header_goodies.png);
}

.menu-item.notifications {
	float: right;
	background-image: url(../../assets/images/header_notifications.png);
	background-size: 44px 132px;
}

.menu.new-notifications .menu-item.notifications:not(.active) {
	background-position: 0 -88px;
}