.menu {
}

.menu-item {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url() no-repeat center center;
	background-size: 40px 80px;
	background-position: 0 0;
	margin: 2px 6px;
}

.menu-item.active {
	background-position: 0 -40px;
}

.menu-item.feed {
	background-image: url(../../assets/images/feed.png);
}

.menu-item.profile {
	background-image: url(../../assets/images/profile.png);
}

.menu-item.closet {
	background-image: url(../../assets/images/closet.png);
}

.menu-item.goodies {
	background-image: url(../../assets/images/goodies.png);
}

.menu-item.discover {
	background-image: url(../../assets/images/discover.png);
}

.menu-item.notifications {
	background-image: url(../../assets/images/notifications.png);
	background-size: 40px 120px;
}

.menu.new-notifications .menu-item.notifications:not(.active) {
	background-position: 0 -80px;
}