.narrowchuview {
	/*padding: 20px;*/
}

.narrowchuview-avatar {
	margin: 5px;
}

.narrowchuview-username {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 9px 5px;
}

.narrowchuview-header {
	padding: 10px;
}

.narrowchuview-title {
	font-size: 15pt;
	padding: 5px 10px;
	width: 100%;
	box-sizing: border-box;
}

.narrowchuview-location-text {
	font-size: 13pt;
	display: inline-block;
}

.narrowchuview-taggedrepeater {
	display: inline-block;
	height: 25px;
	text-align: right;
}

.narrowchuview-taggedrepeater-thumbnail {
	height: 32px;
	width: 32px;
	margin: 5px 2px;
}

.narrowchuview-tagbutton {
	display: inline-block;
	border: dashed 1px;
	border-radius: 2px;
	margin: 5px 2px;
	background-position: center center;
}

.narrowchuview-close-button {
	display: none;
}

.narrowchuview.owned .narrowchuview-close-button {
	display: inline-block;
}

.narrowchuview-post-button {
	float: right;
}

.narrowchuview-new-item {
	width: 300px;
	height: 340px;
	margin: 20px;
	box-sizing: border-box;
	border: #ccc dashed 1px;
	background-color: transparent;
	display: none;
	border-radius: 5px;
	background-image: none;
	vertical-align: top;
}

.narrowchuview.owned .narrowchuview-new-item {
	display: inline-block;
}

.onyx-button.narrowchuview-new-item:active {
	background-color: Gray;
	background-image: none;
}

.narrowchuview-map-back-button {
	position: absolute;
	top: 5px;
	left: 5px;
}

.narrowchuview-comments-scroller {
	max-height: 200px;
}

.narrowchuview-comment-avatar {
	width: 30px;
}

.narrowchuview-comment-text {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.narrowchuview-commentinput-decorator {
	width: 100%;
	box-sizing: border-box;
}

.narrowchuview-commentinput-decorator > .enyo-input {
	width: 100%;
}

.narrowchuview-comments-button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 35px;
	height: 35px;
}

.narrowchuview-label {
	font-size: 13pt;
	display: inline-block;
}

.narrowchuview-section {
	border-bottom: dashed 1px #ccc;
	padding: 10px;
}

.narrowchuview-pageindicator {
	height: 20px;
	background-color: White;
	border-top: dashed 1px #ccc;
	text-align: center;
}

.narrowchuview-pageindicator-item {
	width: 18px;
	height: 18px;
	background: url() no-repeat center center;
	background-size: cover;
	display: inline-block;
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 0.5s;
	-webkit-transform: scale(0.8);
	vertical-align: top;
}

.narrowchuview-pageindicator-item.active {
	-webkit-transform: scale(1.0);
}

.narrowchuview-pageindicator-item.info {
	background-image: url(../../assets/images/info.png);
}

.narrowchuview-pageindicator-item.overview {
	background-image: url(../../assets/images/photo-album.png);
}

.narrowchuview-pageindicator-item.itemthumb {
	padding: 2px;
	border-radius: 2px;
	background-color: #fff;
	border: solid 1px #ccc;
	box-sizing: border-box;
	margin: 0 1px;
}