.notifications {
}

.notifications-notification {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 15px;
	margin: 5px;
	overflow: hidden;
}

.notifications-notification.read {
	opacity: 0.5;
}

.notifications-notification-header {
	text-align: center
}

.notifications-notification-seperator {
	display: inline-block;
	width: 80px;
	height: 0;
	border-top: solid 1px #ddd;
	vertical-align: middle;
}

.notifications-notification-image {
	width: 40px;
	height: 40px;
	margin: 0 15px;
	vertical-align: middle;
	border-radius: 100px;
}

.notifications-notification-text {
	padding: 10px 20px 0 20px;
	text-align: center;
	font-family: 'Muli';
}

.notifications .placeholder-image {
	background-image: url(../../assets/images/notifications_placeholder.png);
}