.peopleselector {}

.peopleselector .peopleselector-listitem.onyx-menu-item {
	text-align: left;
}

.peopleselector-selected-item {
	padding: 10px;
}

.peopleselector-selected-item-label {
	display: inline;
	font-size: 15pt;
}

.peopleselector-removebutton {
	margin: 0 5px;
	background-position: center center;
}