.picklocation {
}

.picklocation-map {
	height: 150px;
}

.picklocation-placeslist {
	box-shadow: 0 -1px 10px #111;
}

.picklocation-placeitem {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 10px;
	margin: 5px;
}