.picklocation {
}

/*.picklocation-map {
	height: 150px;
}*/

.picklocation-placeslist {
	/*box-shadow: 0 -1px 10px #111;*/
}

.picklocation-place {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 10px;
	margin: 5px;
}

.picklocation-place-address {
	color: #555;
	font-size: 10pt;
	padding-top: 2px;
}

.picklocation-message {
	width: 100%;
	text-align: center;
	padding: 20px;
	color: #555;
	font-size: 18pt;
	box-sizing: border-box;
}

.picklocation-spinner {
	display: block;
	margin: 10px auto;
}

.picklocation-resulttext {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	box-sizing: border-box;
	color: red;
}

.picklocation .picklocation-new-place-input {
	margin-bottom: 5px;
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	width: 100%;
	box-sizing: border-box;
	border: none;
}

.picklocation .picklocation-new-place-input.onyx-focused {
	box-shadow: 0 1px 1px #888;
}

.picklocation .picklocation-filter-input {
	border-radius: 0;
	width: 100%;
}

.picklocation .onyx-input-decorator > .enyo-input {
	width: 100%;
}

.picklocation-more-button {
	width: 100%;
	margin-bottom: 5px;
}