.chuitemview {
}

.chuitemview-price {
	float: right;
}

.chuitemview-votescount {
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	padding: 2px;
}

.chuitemview-votesrepeater {
	float: right;
}

/*.chuitemview.owned .chuitemview-collect-button,
.chuitemview.owned .chuitemview-like-button {
	display: none;
}*/

.chuitemview-productimage {
	width: 100%;
	padding: 10px;
	background-color: White;
	box-sizing: border-box;
}

.chuitemview-vote-button {
	background-color: #C30F26;
	color: White;
	/*padding: 2px 8px 2px 0;*/
}