.productview {
	padding: 20px;
}

.productview-images {
	height: 400px;
	/*background-color: White;*/
	border-radius: 10px;
	box-shadow: inset 0 0 10px #333;
	margin: 5px;
}

.productview-carousel-image {
	height: 96%;
	width: 400px;
	margin: 2% 5px;
	background: url() no-repeat center center;
	background-size: contain;
	/*background-color: White;*/
}

.productview-description {
	padding: 20px;
}