.profileview {
}

.profileview-settings-button {
	width: 36px;
	height: 36px;
	background-size: 36px 72px;
	background-image: url(../../assets/images/settings_button.png);
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.profileview-settings-button:active:hover:not([disabled]) {
	background-position: 0 -36px;
}

.profileview .placeholder {
	padding-top: 20px;
	padding-bottom: 30px;
}

.profileview .placeholder-image {
	background-image: url(../../assets/images/profile_placeholder.png);
}

.profileview-terms {
	font-size: 7pt;
	text-align: center;
	color: #555;
	padding: 10px 55px 0 55px;
}

.profileview-terms .link {
	color: #ff1e78;
	text-decoration: none;
}