.profileview-avatar {
	width: 80px;
	margin: 10px;
	vertical-align: top;
}

.profileview-profileinfo {
	display: inline-block;
	vertical-align: top;
	height: 100px;
}

.profileview-fullname {
	padding: 5px;
	font-size: 15pt;
}

.profileview-username {
	padding: 5px;
	font-size: 13pt;
	font-weight: bold;
	max-width: 200px;
}

.profileview-bio {
	padding: 5px;
	font-size: 11pt;
}

.profileview-menu {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
}

.profileview-menu-button {
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
}

.profileview-menu-button-caption {
	font-size: 10pt;
	vertical-align: top;
}

.profileview-list-avatar {
	width: 40px;
	margin: 5px;
}

.profileview-list-username {
	display: inline-block;
	vertical-align: top;
	max-width: 100px;
}

.profileview.owned .follow-button {
	display: none;
}