.profileview-avatar {
	width: 80px;
	margin: 10px;
	vertical-align: top;
}

.profileview-info {
	height: 150px;
	background: url() no-repeat center center;
	background-size: cover;
	position: relative;
}

.profileview-profileinfo {
	display: inline-block;
	vertical-align: top;
	height: 100px;
}

.profileview-fullname {
	font-size: 15pt;
	color: White;
	text-shadow: 0 0 5px #000;
	position: absolute;
	left: 5px;
	bottom: 5px;
	max-width: 200px;
	text-align: left;
}

.profileview-bio {
	padding: 5px;
	font-size: 11pt;
}

.profileview-menu {
	width: 100%;
	box-sizing: border-box;
	height: 45px;
}

.profileview-menu-button {
	width: 33.33%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0 !important;
	background-image: none;
	background-color: #eee;
	border-top: none !important;
}

.profileview-menu-button.active {
	box-shadow: none;
	background-color: white;
	background-image: none;
	color: black;
}

.profileview-menu-button-caption {
	display: block;
	font-size: 10pt;
	margin: 0 auto;
}

.profileview-menu-button-count {
	display: block;
	margin: 0 auto;
	font-size: 12pt;
}

.profileview-follow-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.profileview.owned .follow-button {
	display: none;
}

.profileview-settings-button {
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
	background-image: url(../../assets/images/settings.png);
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: none;
}

.profileview.owned .profileview-settings-button {
	display: block;
}
