.searchinput {
	border-radius: 20px;
	margin: 0 0;
	position: relative;
	box-sizing: border-box;
}

.searchinput input {
	width: 100%;
}

.searchinput-icon {
	width: 24px;
	height: 24px;
	background: url(../../assets/images/searchinput-search.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 10px;
	top: 7px;
}

.searchinput.active .searchinput-icon {
	background-image: url(../../assets/images/searchinput-cancel.png);
}