.searchinput {
	border-radius: 20px;
	margin: 0 0;
	position: relative;
	box-sizing: border-box;
	padding: 6px 8px 7px 8px;
}

.searchinput input {
	width: 100%;
	line-height: 20px;
}

.searchinput-icon {
	width: 20px;
	height: 20px;
	background: url(../../assets/images/searchinput-search.png) no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 5px;
	top: 8px;
}

.searchinput.active .searchinput-icon {
	background-image: url(../../assets/images/searchinput-cancel.png);
}