.settings {}

.settings .onyx-groupbox {
	margin: 5px 0;
}

.settings .onyx-groupbox .onyx-input,
.settings .onyx-groupbox .onyx-textarea {
	width: 100%;
}

.settings-section-header {
	padding: 10px 10px 5px 10px;
	font-size: 15pt;
	font-variant: small-caps;
}

.settings-connect-item {
	padding: 5px;
}

.settings-connect-text {
	display: inline-block;
	padding: 5px;
}

.settings-connect-button {
	float: right;
}

.settings-connect-disconnect {
	float: right;
	display: none;
}

.settings-connect-item.connected > .settings-connect-button {
	display: none;
}

.settings-connect-item.connected > .settings-connect-disconnect {
	display: inline-block;
}

.settings-notifications-item {
	padding: 5px;
}

.settings-notifications-text {
	display: inline-block;
	padding: 5px;
}

.settings-content {
	padding: 10px;
	box-sizing: border-box;
}