.settings {
	background-color: #f2f2f2;
	background-image: url(../../assets/images/greyfloral@2x.png);
	background-size: 150px 124px;
}

.settings .onyx-groupbox {
	margin: 5px 0;
}

.settings .onyx-groupbox .onyx-input,
.settings .onyx-groupbox .onyx-textarea {
	width: 100%;
}

.settings-section-header {
	padding: 10px 10px 5px 10px;
	font-size: 15pt;
	font-variant: small-caps;
}

.settings-connect-item {
	padding: 5px;
}

.settings-connect-text {
	display: inline-block;
	padding: 5px;
}

.settings-connect-button {
	float: right;
}

.settings-connect-disconnect {
	float: right;
	display: none;
}

.settings-connect-item.connected > .settings-connect-button {
	display: none;
}

.settings-connect-item.connected > .settings-connect-disconnect {
	display: inline-block;
}

.settings-notifications-item {
	padding: 5px;
}

.settings-notifications-text {
	display: inline-block;
	padding: 5px;
}

.settings-content {
	padding: 10px;
	box-sizing: border-box;
}

.settings-avatar {
	height: 100px;
	background: url() no-repeat center center;
	background-size: cover;
	position: relative;
	box-shadow: inset 0 -1px 20px #333;
}

.settings-change-avatar {
	float: right;
	margin: 5px;
}

.settings-notification-icon {
	height: 32px;
	width: 32px;
	/*background: url() no-repeat 0 0;*/
	background-size: 32px 64px;
	float: right;
}

.settings-notification-icon.push {
	background-image: url(../../assets/images/settings_push.png);
}

.settings-notification-icon.email {
	background-image: url(../../assets/images/settings_email.png);
}

.settings-notification-icon.active {
	background-position: 0 -32px;
}