.settings {
	background-color: #f1f1f1;
    -webkit-perspective: 1000px;
}

.settings .onyx-groupbox {
	margin: 10px 0;
}

.settings .onyx-groupbox .onyx-input,
.settings .onyx-groupbox .onyx-textarea {
	width: 100%;
}

.settings-section-header {
	padding: 10px 10px 0 10px;
    display: inline-block;
    font-size: 13pt;
    font-variant: small-caps;
    font-weight: bold;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.settings-item {
	padding: 5px;
}

.settings-item-text {
	display: inline-block;
	padding: 5px;
}

.settings-item > .onyx-toggle-button {
	float: right;
	margin: 2px 3px;
}

.settings-content {
	padding: 10px;
	box-sizing: border-box;
	background-image: url(../../assets/images/greyfloral.png);
	background-size: 150px 124px;
}

.settings-avatar {
	height: 100px;
	background: url() no-repeat center center;
	background-size: cover;
	position: relative;
    box-shadow: inset 0 -0 10px rgba(0, 0, 0, 0.2)
}

.settings-change-avatar {
	float: right;
	margin: 5px;
    background-color: rgba(236, 236, 236, 0.7);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.settings-notification-icon {
	height: 32px;
	width: 32px;
	/*background: url() no-repeat 0 0;*/
	background-size: 32px 64px;
	float: right;
	margin-top: -1px;
}

.settings-notification-icon.push {
	background-image: url(../../assets/images/settings_push.png);
}

.settings-notification-icon.email {
	background-image: url(../../assets/images/settings_email.png);
}

.settings-notification-icon.active {
	background-position: 0 -32px;
}

.settings-signature {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: -50px;
    background-color: gray;
    -webkit-transform: tranlate3d(0, 0, 0);
    -webkit-transform-origin: 50% 0;
    -webkit-backface-visibility: hidden;
    font-size: 10pt;
    background-color: #f1f1f1;
    text-shadow: 0 1px 0 #fff;
    line-height: 50px;
    text-align: center;
    color: #888;
}