.storeview {
}

.storeview .userview-box-label.chus {
	background-image: url(../../assets/images/profile_photos.png);
}

.userview-box-image.storeview-location-tile {
    width: 210px;
}

.storeview-info-section {
    padding: 10px 20px;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-top: solid 1px #d8d8d8;
}

.storeview-info-label {
    font-size: 13pt;
    font-variant: small-caps;
    font-weight: bold;
    float: left;
    margin: 0 10px 10px 0;
}

.storeview-info-text {
	font-size: 11pt;
	line-height: 1.5em;
	text-align: right;
}

.storeview-tab-icon {
    width: 16px;
    height: 15px;
    overflow: visible;
    background: url() no-repeat center center;
    background-size: 16px 16px;
    margin-top: -2px;
    margin-bottom: -1px;
}

.storeview-tab-icon.info {
	background-image: url(../../assets/images/tab_icon_info.png);
}

.storeview-tab-icon.map {
	background-image: url(../../assets/images/tab_icon_map.png);
}