.storeview {
}

.storeview .userview-box-label.chus {
	background-image: url(../../assets/images/profile_photos.png);
}

.userview-box-image.storeview-location-tile {
    width: 210px;
}

.storeview-info-section {
    padding: 10px 20px;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-top: solid 1px #d8d8d8;
}

.storeview-info-label {
    font-size: 13pt;
    font-variant: small-caps;
    font-weight: bold;
    float: left;
    margin: 0 10px 10px 0;
}

.storeview-info-text {
	font-size: 11pt;
	line-height: 1.5em;
	text-align: right;
}

.storeview-info-block {
	padding: 15px 15px 0 15px;
	line-height: 1.3em;
	font-size: 11pt;
}

.storeview-info-block:last-child {
	padding-bottom: 15px;
}

.storeview-info-header {
	margin-bottom: 5px;
	font-weight: bold;
}

.storeview-location-button {
	float: right;
	margin: 15px;
	width: 50px; height: 50px;
	background: url() no-repeat center center;
	background-size: 50px 50px;
}