.userlistitem {
/*	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;*/
	padding: 8px;
	height: 32px;
	border-bottom: solid 1px #ddd;
}

.userlistitem-avatar {
	width: 32px;
	height: 32px;
}

.userlistitem-fullname {
	display: inline-block;
	vertical-align: top;
	max-width: 150px;
	padding: 6px 10px;
}

.userlistitem-follow-button {
	float: right;
	width: 85px;
	padding-left: 0;
	padding-right: 0;
}