.userlistitem {
	display: -webkit-box;
	-webkit-box-align: center;
}

.userlistitem-avatar {
	display: block;
	border-radius: 2px;
	width: 40px;
	height: 40px;
	background-color: #ccc;
}

.userlistitem-fullname {
	padding: 6px 10px;
	-webkit-box-flex: 1;
}

.userlistitem-follow-button {
	display: block;
	width: 85px;
	padding-left: 0;
	padding-right: 0;
}