.userlistitem {
	background-color: White;
	border-radius: 2px;
	box-shadow: 0 1px 1px #888;
	padding: 10px;
	margin: 5px;
	height: 32px;
}

.userlistitem-avatar {
	width: 32px;
	height: 32px;
}

.userlistitem-fullname {
	display: inline-block;
	vertical-align: top;
	max-width: 150px;
	padding: 5px 10px;
}

.userlistitem-follow-button {
	float: right;
}