.userview {
}

.userview-window {
    height: 150px;
    position: relative;
    /*background: url() no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 -50px 100px rgba(0, 0, 0, 0.1);*/
}

.userview-avatar {
    width: 100%;
    position: absolute;
    z-index: -100;
    top: -41px;
    -webkit-transform: translate3d(0, 0, 0);
}

.userview-name-follow {
    width: 100%;
    position: absolute;
    z-index: -90;
    top: 146px;
    -webkit-transform: translate3d(0, 0, 0);
}

.userview-fullname {
    font-size: 15pt;
    color: White;
    text-shadow: 0 0 5px #000;
    margin: 8px;
    padding: 3px 0;
    max-width: 200px;
    text-align: left;
}

.userview-follow-button {
    float: right;
    margin: 8px;
    width: 85px;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(236, 236, 236, 0.7);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.userview-tabs {
    position: relative;
    z-index: 10;
    height: 45px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
}

.userview-tab {
    display: block;
    -webkit-box-flex: 1;
    padding: 0;
    width: 0;
    border: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
}

.userview-tab, .userview-tab:active:hover:not([disabled]) {
    box-shadow: none;
    border-radius: 0;
}

.userview-tab:not(:last-child) {
    border-right: 1px solid #d8d8d8;
}

.userview-tab:not(:first-child) {
    /*border-left: 1px solid rgba(15, 15, 15, 0.2);*/
}

.userview-tab-caption {
    display: block;
    font-size: 10pt;
}

.userview-tab-count {
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

.userview-box {
    background-color: White;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.05);
    margin: 8px;
    line-height: 0;
    white-space: nowrap;
    padding: 8px;
}

.userview-box > * {
    display: inline-block;
    vertical-align: middle;
}

.userview-box-label {
    width: 65px;
    height: 65px;
    margin-right: 8px;
    background: url() no-repeat center center;
    background-size: cover;
}

.userview-box-label.hearts {
    background-image: url(../../assets/images/profile_hearts.png);
}

.userview-box-label.chus {
    background-image: url(../../assets/images/profile_chus.png);
}

.userview-box-label.goodies {
    background-image: url(../../assets/images/profile_goodies.png);
}

.userview-box-label.stores {
    background-image: url(../../assets/images/profile_stores.png);
}

.userview-box-image {
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-right: 8px;
    border-radius: 2px;
    /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);*/
    background: url() no-repeat center center #ccc;
    background-size: cover;
    position: relative;
}

.userview-box-label-text {
    font-size: 10pt;
    color: #555;
}

.userview-store-name {
    font-size: 8pt;
    color: White;
    line-height: normal;
    text-shadow: 0 0 2px #000;
    position: absolute;
    bottom: 0;
    padding: 2px 4px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.userview-box-empty {
    color: #999;
    padding: 32px 10px;
    width: 190px;
    text-align: center;
}

.userview-box-spinner {
    margin: 10px;
}

.userview-box.followers {
    padding: 0;
}

.userview-followers-button {
    display: block;
    box-shadow: none;
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.02)), to(rgba(0, 0, 0, 0.08)));
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 13px;
}

.userview-followers-button > strong {
    margin-top: -3px;
}

.userview-followers-button:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #d8d8d8;
}

.userview-followers-button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}